@import "../../src/scss/init";

.path-frontpage {

	.page-title {
		display: none;
	}

	.banner {
		/*  background-image: url("../../build/assets/images/tcbg1.jpg");*/
		/* Background image is now provided by settings */
	  background-size: cover;
	  min-height: 250px;
	  margin-bottom: 0;
	  padding: 0;
	}

}

.path-aggregator {
 	main {
		margin: 0 25%;
	}
}
