@import "../../src/scss/init";

.cedar-image h2 {
    font-size: 2rem !important;
    color: green !important;
}

.cedar-image h3 {
    font-size: 1rem;
    color: green;
}


.cedar-image img {
	height: 60vh !important;
	width: auto !important;
}
