{#
/**
* @file
* Template for photo-slider component.
*/
#}

<div class="cedar-slides">
	<div {{ attributes.addClass('photo-slider', 'swiper').setAttribute('style', '--component-height: ' ~ slider_height|default('60px') ~ ';') }}>
		<div class="swiper-wrapper">
			{% for picture in content %}
				<div class="swiper-slide">{{ picture }}</div>
			{% endfor %}				
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
		
	</div>
</div>