{#
/**
* @file
* Template for photo-slider component.
*/
#}

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    {# Loop through your content here #}
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
