@import "../../src/scss/init";

.cedar-slides h2 {
    font-size: 3rem;
    color: blue;
}


/* The main container must be relative for absolute children (arrows) */
.photo-slider.swiper {
/*  height: var(--component-height, 600px); */
 height: 80vh;
  width: 100%;
  position: relative;
  background-color: #f4f4f4;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}


.photo-slider.swiper-initialized {
  visibility: visible; /* Show once JS is ready */
}

.photo-slider .swiper-wrapper {
  display: flex; 
  flex-direction: row;
}

.photo-slider .swiper-slide {
	width: auto; 
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* Position the buttons on the left and right sides */
.photo-slider .swiper-button-prev,
.photo-slider .swiper-button-next {
 position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000; 
}


